/**
 * Attachment containers are either:
 *  - <div> elements, in the message thread;
 *  - <iframe> elements, in the Compose area (draft attachments).
 * Both containers have an `attachment-container' class, but only <iframe>
 * containers have an `attachment-draft' class.
 */
.attachment-container {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  height: 7.5rem;
  width: 7.5rem;
  margin: 0.5rem 0.5rem;

  -moz-user-select: none;
}

.attachment-container.focus,
.attachment-container.hasfocused {
  box-shadow: 0 0 0 0.3rem var(--highlight-color);
}

.outgoing .attachment-container.focus,
.outgoing .attachment-container.hasfocused,
.incoming .attachment-container.focus,
.incoming .attachment-container.hasfocused {
  box-shadow: none;
}

.attachment-draft {
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
  font-family: sans-serif;
}

/* make sure all pointer events are sent to the main container */
.attachment-draft *,
.attachment-container * {
  pointer-events: none;
}

/* The internal height of the attachment itself */
.attachment[data-attachment-type="vcard"] {
  height: 100%;
}

.article-list[data-type="list"] .message .attachment-container {
  margin: 0.5rem 0;
}

.article-list[data-type="list"] .message.outgoing .attachment-container.focus,
.article-list[data-type="list"] .message.outgoing .attachment-container.hasfocused {
  border: 0.2rem solid var(--color-gs20);
}

.article-list[data-type="list"] .message .attachment-container.focus,
.article-list[data-type="list"] .message .attachment-container.hasfocused {
  border: 0.2rem solid var(--highlight-color);
}

.article-list[data-type="list"] .message .attachment-container {
  border: 0.2rem solid transparent;
}
/**
 * Attachments that occur at the bounds of an MMS message do not need
 * additional spacing.
 */
#messages-container[data-type="list"] .message .attachment-container:first-child {
  margin-top: 0;
}
#messages-container[data-type="list"] .message .attachment-container:last-child {
  margin-bottom: 0;
}

.attachment {
  position: absolute;
  top: 0;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.outgoing .attachment {
  left: auto;
  right: 0;
}

.preview .attachment {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #ececec;
}

.preview .attachment:active,
.preview .attachment:hover {
  background-color: #b2f2ff;
}

.size-indicator {
  position: absolute;
  margin: auto;
  bottom: 0.2rem;
  right: 0.2rem;
  color: #eee;
  font-size: 1.2rem;
  text-shadow: #333 0.1rem 0.1rem 0;
}

.attachment-draft > :not([data-attachment-type="vcard"]) .size-indicator {
  display: block;
}

.attachment-draft .file-name {
  color: #4a4a4a;
}

.outgoing .file-name {
  text-align: end;
}

.nopreview .file-name {
  display: none;

  unicode-bidi: -moz-plaintext;
}

.thumbnail {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.thumbnail-placeholder {
  width: 100%;
  height: 100%;

  background: url('images/attachments.png') no-repeat left top / 7.5rem;
}

.attachment-container .thumbnail,
.attachment-container .thumbnail-placeholder {
  position: absolute;
  top: 0;
  border-radius: .5rem;
}

.attachment-draft:hover .thumbnail-placeholder:not(.vcard-placeholder),
.attachment-draft:active .thumbnail-placeholder:not(.vcard-placeholder),
.attachment-container:not([data-attachment-type="vcard"]):hover .thumbnail-placeholder,
.attachment-container:not([data-attachment-type="vcard"]):active .thumbnail-placeholder {
  background-color: #33cccc;
  background-blend-mode: luminosity;
}

.img-placeholder {
  background-position: left -7.5rem;
}

.audio-placeholder {
  background-position: left -15rem;
}

.video-placeholder {
  background-position: left -22.5rem;
}

.vcard-placeholder {
  background: url('images/attachment-vcard.png') no-repeat left top / 6rem #dadada;
  border-radius: .5rem;
}

.attachment.corrupted .thumbnail-placeholder:after {
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  content: '';
  background: url('icons/corrupted.png') no-repeat center center / 7.5rem;
}
