
#settings-list {
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 105;
  overflow-y: scroll;
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
}
#settings-list.hidden {
  display: none;
}
#settings-list,
#settings-list > div > * {
  font-size: var(--font-p-pri);
}
#settings-list > div {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: var(--softkeybar-height);
}
#settings-list > div.visible {
  display: block;
}
#settings-list > div > .header {
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: center;
  color: var(--color-gs90);
  background: var(--color-gs20);
}
#settings-list ul li {
  height: 4.8rem;
}
