
form, fieldset, input, textarea {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
input, textarea {
  width: 100%;
}
select {
  border: none;
  background: transparent;
  font-size: 1.7rem;
}
input[type="checkbox"] {
  width: inherit;
}
form,
form ol {
  margin: 0;
  padding: 0;
}
form li {
  margin: 1rem 2rem;
}
.datetime {
  
  pointer-events: none;
  position: absolute;
  left: 1.5rem;
  font-weight: normal;
}
.hidden-input {
  
  position: absolute;
  
  opacity: 0;
  
  -moz-user-select: none;
  
  text-indent: 110%;
}
html[dir="rtl"] .datetime {
  left: unset;
  right: 1.5rem;
}
html[dir="rtl"] input {
    text-align: right;
}
.button::-moz-focus-inner,
.bb-button::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
  outline: none;
}
button,
.bb-button,
.button {
  font-family: 'Open Sans';
  width: 100%;
  height: 3.5rem;
  margin: 1rem;
  padding: 0 1.2rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: var(--color-gs20);
  border: none;
  border-radius: 0.2rem;
  font-weight: normal;
  color: var(--color-gs90);
  text-align: center;
  text-decoration: none;
  outline: none;
}
button.recommend,
.bb-button.recommend {
  background-color: #00caf2;
  color: #fff;
}
button.danger,
.danger.bb-button {
  background-color: #e51e1e;
  color: #fff;
}
button:active,
.bb-button:active,
.button:active {
  background-color: var(--highlight-color);
  color: var(--color-gs00);
}
button:focus,
.bb-button:active,
.button:active {
  background-color: var(--highlight-color);
  color: var(--color-gs00);
}
button[data-icon],
.bb-button[data-icon],
.button[data-icon] {
  position: relative;
}
button[data-icon]:before,
.bb-button[data-icon]:before,
.button[data-icon]:before {
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  right: 1.5rem;
  line-height: 3rem;
}
button[data-icon]:active:before,
.bb-button[data-icon]:active:before,
.button[data-icon]:active:before {
  color: #fff;
}
.skin-dark button:active,
.skin-dark .bb-button:active,
.skin-dark .button:active {
  background-color: #00aacc;
}
button[disabled],
.bb-button[aria-disabled="true"],
.button[aria-disabled="true"] {
  background-color: rgba(0,0,0,0.05);
  color: #c7c7c7;
  pointer-events: none;
}
button[disabled].recommend,
.bb-button[aria-disabled="true"].recommend,
.button[aria-disabled="true"].recommend {
  background-color: #97cbd5;
  color: rgba(255,255,255,0.5);
}
button[disabled].danger,
.bb-button[aria-disabled="true"].danger,
.button[aria-disabled="true"].danger {
  background-color: #eb7474;
  color: rgba(255,255,255,0.5);
}
.skin-dark button[disabled],
.skin-dark .button[aria-disabled="true"],
.skin-dark .bb-button[aria-disabled="true"] {
  background-color: #565656;
  color: rgba(255,255,255,0.4);
}
.skin-dark button[disabled].recommend,
.skin-dark .button[aria-disabled="true"].recommend,
.skin-dark .bb-button[aria-disabled="true"].recommend {
  background-color: #006579;
}
.skin-dark button[disabled].danger,
.skin-dark .button[aria-disabled="true"].danger,
.skin-dark .bb-button[aria-disabled="true"].danger {
  background-color: #730f0f;
}
button[disabled]::-moz-selection,
.button[aria-disabled="true"]::-moz-selection,
.bb-button[aria-disabled="true"]::-moz-selection {
  -moz-user-select: none;
}
li button,
li .bb-button,
li .button {
  position: relative;
  text-align: start;
  border: 0.1rem solid #c7c7c7;
  background: rgba(0,0,0,0.05);
  margin: 0 0 1rem;
  overflow: hidden;
  border-radius: 0;
  display: flex;
  height: auto;
  min-height: 4rem;
  text-overflow: initial;
  white-space: normal;
  line-height: 2rem;
  padding: 1rem 5.2rem;
}
li .bb-button:active:after,
li .button:active:after,
li button:active:after {
  opacity: 0;
}
li button:disabled,
li .bb-button[aria-disabled="true"],
li .button[aria-disabled="true"] {
  opacity: 0.5;
}
li button.icon,
li .bb-button.icon,
li .button.icon {
  -moz-padding-end: 4rem;
}
li button.icon:before,
li .bb-button.icon:before,
li .button.icon:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  margin-top: -1.5rem;
  background: transparent no-repeat center center / 100% auto;
  pointer-events: none;
}
li button.icon-view:active,
li .bb-button.icon-view:active,
li .button.icon-view:active {
  background-color: #b2f2ff;
}
li button.icon-view:before,
li .bb-button.icon-view:before,
li .button.icon-view:before {
  background-image: url(../shared/style/buttons/images/forward-light.svg);
  background-size: 3rem;
  right: 0;
}
li button[data-icon]:before,
li .bb-button[data-icon]:before,
li .button[data-icon]:before {
  right: 1rem;
}
li button[data-icon="expand"]:before,
li .bb-button[data-icon="expand"]:before,
li .button[data-icon="expand"]:before {
  color: #00aac5;
  top: unset;
  bottom: 0;
}
li button[data-icon="expand"][disabled]:before,
li .bb-button[data-icon="expand"][aria-disabled="true"]:before,
li .button[data-icon="expand"][aria-disabled="true"]:before {
  color: #A9A9A9;
}
li button[data-icon="forward"]:before,
li .bb-button[data-icon="forward"]:before,
li .button[data-icon="forward"]:before {
  color: #686f72;
}
li button.icon-dialog,
li .bb-button.icon-dialog,
li .button.icon-dialog {
  -moz-padding-end: 3rem;
}
li button.icon-dialog:before,
li .bb-button.icon-dialog:before,
li .button.icon-dialog:before {
  width: 0;
  height: 0;
  top: auto;
  right: 0.8rem;
  bottom: 0.5rem;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
  border-left: 0.7rem solid #00aac5;
  transform: rotate(45deg);
  z-index: 1;
}
li button.icon-dialog:disabled:before,
li .bb-button[aria-disabled="true"].icon-dialog:before,
li .button[aria-disabled="true"].icon-dialog:before {
  border-left: 0.7rem solid #a9a9a9;
}
.skin-dark li button,
.skin-dark li .bb-button,
.skin-dark li .button {
  background-color: #454545;
  border: none;
  color: #fff;
  font-weight: normal;
}
.skin-dark li button:active,
.skin-dark li .button:active,
.skin-dark li .bb-button:active {
  background-color: #00aacc;
}
.skin-dark li button.icon-view:active,
.skin-dark li .button.icon-view:active,
.skin-dark li .bb-button.icon-view:active {
  background-color: #00aacc;
}
.skin-dark li button.icon-dialog:active:before,
.skin-dark li .bb-button.icon-dialog:active:before,
.skin-dark li .button.icon-dialog:active:before {
  border-left: 0.7rem solid #b2f2ff;
}
.skin-dark li button:disabled,
.skin-dark li .bb-button[aria-disabled="true"],
.skin-dark li .button[aria-disabled="true"] {
  background-color: #454545;
  opacity: 0.5;
}
.button input,
body[role="application"] .bb-button input,
body[role="application"] .button input {
  border: 0;
  background: none;
}
select {
  width: 100%;
  -moz-box-sizing: border-box;
  font-style: italic;
  font-size: 1.6rem;
  color: #333;
  margin: 0 0 1rem;
  padding: 0;
  -moz-padding-start: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 4rem;
  border: 0.1rem solid #c7c7c7;
  background: rgba(0,0,0,0.05);
}
.skin-dark select {
  background-color: rgba(87, 87, 87, 0.8);
  border: none;
  color: #fff;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333;
}
.skin-dark select:-moz-focusring {
  text-shadow: 0 0 0 #fff;
}
.bb-button.icon select,
.button.icon select,
.bb-button[data-icon] select,
.button[data-icon] select {
  position: absolute;
  top: -0.6rem;
  left: 0;
  width: calc(100% + 3rem);
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-padding-end: 5rem;
  text-indent: 0;
  font-weight: 400;
  font-size: 1.7rem;
  
  color: rgba(0,0,0,0);
  text-shadow: 1rem 0.5rem 0 #333;
  border: none;
  background: none;
}
.bb-button.icon select option,
.button.icon select option,
.bb-button[data-icon] select option,
.button[data-icon] select option {
  color: #000;
  border: 0;
  padding: 0.6rem 1.3rem;
  text-shadow: 0 0 0 rgba(0,0,0,0);
}
.bb-button.icon-dialog,
.button.icon-dialog {
  overflow: hidden;
}
.skin-dark .bb-button.icon select,
.skin-dark .button.icon select,
.skin-dark .bb-button[data-icon] select,
.skin-dark .button[data-icon] select {
  text-shadow: 1rem 0.5rem 0 #fff;
}
html[dir="rtl"] button[data-icon]:before,
html[dir="rtl"] .bb-button[data-icon]:before,
html[dir="rtl"] .button[data-icon]:before {
  left: 1.5rem;
  right: unset;
}
html[dir="rtl"] button.mirrored[data-icon]:before,
html[dir="rtl"] .bb-button.mirrored[data-icon]:before,
html[dir="rtl"] .button.mirrored[data-icon]:before {
  transform: scale(-1, 1);
}
html[dir="rtl"] li button.icon-view:before,
html[dir="rtl"] li .bb-button.icon-view:before,
html[dir="rtl"] li .button.icon-view:before {
  left: 0;
  right: unset;
  transform: rotate(180deg);
}
html[dir="rtl"] li button[data-icon]:before,
html[dir="rtl"] li .bb-button[data-icon]:before,
html[dir="rtl"] li .button[data-icon]:before {
  left: 1rem;
  right: unset;
}
html[dir="rtl"] li button.icon:before,
html[dir="rtl"] li .bb-button.icon:before,
html[dir="rtl"] li .button.icon:before {
  left: 0.5rem;
  right: unset;
}
html[dir="rtl"] li button.icon-dialog:before,
html[dir="rtl"] li .bb-button.icon-dialog:before,
html[dir="rtl"] li .button.icon-dialog:before {
  left: 0.8rem;
  right: unset;
  transform: rotate(315deg);
  border-left: unset;
  border-right: 0.7rem solid #00aac5;
}
html[dir="rtl"] li button.icon-dialog:disabled:before,
html[dir="rtl"] li .bb-button[aria-disabled="true"].icon-dialog:before,
html[dir="rtl"] li .button[aria-disabled="true"].icon-dialog:before {
  border-left: unset;
  border-right: 0.7rem solid #a9a9a9;
}
html[dir="rtl"] .skin-dark li button.icon-dialog:active:before,
html[dir="rtl"] .skin-dark li .bb-button.icon-dialog:active:before,
html[dir="rtl"] .skin-dark li .button.icon-dialog:active:before {
  border-left: unset;
  border-right: 0.7rem solid #b2f2ff;
}
html[dir="rtl"] .bb-button.icon-dialog select,
html[dir="rtl"] .button.icon-dialog select,
html[dir="rtl"] .bb-button[data-icon] select,
html[dir="rtl"] .button[data-icon] select {
  left: unset;
  right: 0.3rem; 
}
form[role="dialog"][data-type="confirm"] {
  background: #fff;
  overflow: hidden;
  position: fixed; 
  z-index: 110;
  top: var(--statusbar-height);
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  padding-top: 0;
  
  color: #fff;
  text-align: left;
}
form[role="dialog"][data-type="confirm"]:before {
  display: none;
}
form[role="dialog"][data-type="confirm"] > section {
  font-weight: 300;
  font-size: 2.2rem;
  color: #fff;
  -moz-box-sizing: padding-box;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  max-height: 100%;
  white-space: normal;
  padding-top: 0;
}
form[role="dialog"][data-type="confirm"] h1 {
  line-height: 1.5em;
  margin: 0;
  padding: 0rem 1.5rem;
  word-wrap: break-word;
  color: #000;
  background-color: rgb(240, 240, 240);
}
form[role="dialog"][data-type="confirm"] menu {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  background: #4d4d4d;
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
form[role="dialog"][data-type="confirm"] menu button::-moz-focus-inner {
  border: none;
  outline: none;
  margin-top: -0.2rem; 
}
form[role="dialog"][data-type="confirm"] menu button {
  font-family: sans-serif;
  font-style: italic;
  width: 100%;
  height: 4rem;
  margin: 0 0 1rem;
  padding: 0 0.2rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #d8d8d8;
  border: none;
  border-radius: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #fff;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  outline: none;
}
form[role="dialog"][data-type="confirm"] menu button.recommend {
  background-color: #00caf2;
  color: #fff;
}
form[role="dialog"][data-type="confirm"] menu button.danger {
  background-color: #e51e1e;
  color: #fff;
}
form[role="dialog"][data-type="confirm"] menu button:active {
  background: #00aacc;
  color: #fff;
}
form[role="dialog"][data-type="confirm"] > menu > button[disabled] {
  background-color: #565656;
  color: rgba(255,255,255,0.4);
  pointer-events: none;
}
form[role="dialog"][data-type="confirm"] > menu > button[disabled].recommend {
  background-color: #006579;
}
form[role="dialog"][data-type="confirm"] > menu > button[disabled].danger {
  background-color: #730f0f;
}
button[disabled]::-moz-selection {
  -moz-user-select: none;
}
form[role="dialog"][data-type="confirm"] menu button {
  margin: 0;
  -moz-margin-end: 1rem;
}
form[role="dialog"][data-type="confirm"] menu button:last-child {
  -moz-margin-end: 0;
}
form[role="dialog"][data-type="confirm"] p {
  font-weight: normal;
  word-wrap: break-word;
  margin: 0rem 0 0;
  padding: 1rem 1.5rem;
  line-height: 2rem;
  font-size: 2rem;
  color: #000000;
}
form[role="dialog"][data-type="confirm"] p.white-font {
  color: #fff;
}
form[role="dialog"][data-type="confirm"] p.noborder {
  border:none;
}
form[role="dialog"][data-type="confirm"] p > span {
  font-size: 1.5rem;
  display: block;
  line-height: 1.7rem;
  color: rgba(255,255,255,0.6);
}
form[role="dialog"][data-type="confirm"] p img {
  left: 2rem;
  right: auto;
}
form[role="dialog"][data-type="confirm"] p strong {
  font-weight: 300;
}
form[role="dialog"][data-type="confirm"] p small {
  font-size: 1.4rem;
  font-weight: normal;
  color: #cbcbcb;
  display: block;
}
form[role="dialog"][data-type="confirm"] dl {
  border-top: 0.2rem solid #a6a6a6;
  margin: 0rem 1.5rem;
  overflow: hidden;
  padding-top: 1rem;
  font-size: 3rem;
  line-height: 2.2rem;
  color: #fff;
}
form[role="dialog"][data-type="confirm"] dl > dt {
  clear: both;
  width: 7rem;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
}
form[role="dialog"][data-type="confirm"] dl.noborder {
  border: none;
}
form[role="dialog"][data-type="confirm"] dl > dt.confirmmsg {
  width: auto;
  font-weight: normal;
  word-wrap: break-word;
  margin: 0;
  line-height: 2.4rem;
  font-size: 2.4rem;
  color: #fff;
}
form[role="dialog"][data-type="confirm"] dl > dd {
  font-weight: 500;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  margin-left: 0;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
form[role="dialog"][data-type="confirm"] dl > dd > div {
  text-overflow: ellipsis;
  overflow: hidden;
}
form[role="dialog"][data-type="confirm"] figure {
  margin: 1.5rem;
  display: flex;
  align-items: center;
}
form[role="dialog"][data-type="confirm"] figure img {
  padding-right: 1.5rem;
  flex-shrink: 0;
}
form[role="dialog"][data-type="confirm"] figure figcaption {
  font-size: 2.1rem;
  font-weight: 300;
}
form[role="dialog"][data-type="confirm"] ul {
  margin: 0;
  padding: 2rem 1.5rem;
  border-top: 0.1rem solid #686868;
  list-style: none;
  font-size: 1.6rem;
  font-weight: normal;
}
form[role="dialog"][data-type="confirm"] ul li {
  word-wrap: break-word;
  line-height: 2rem;
  padding-bottom: 1.5rem;
}
form[role="dialog"][data-type="confirm"] ul li:last-child {
  padding-bottom: 0;
}
form[role="dialog"][data-type="confirm"] ul li ul {
  border: none;
  margin: 0;
  padding: 0;
}
html[dir="rtl"] form[role="dialog"][data-type="confirm"] {
  text-align: right;
}
html[dir="rtl"] form[role="dialog"][data-type="confirm"]:before {
  margin-left: auto;
  margin-right: -0.1rem;
}
html[dir="rtl"] form[role="dialog"][data-type="confirm"] p img {
  right: 2rem;
  left: auto;
}
html[dir="rtl"] form[role="dialog"][data-type="confirm"] dl > dt {
  float: right;
  padding-left: inherit;
  padding-right: 1.5rem;
  text-align: right;
}
html[dir="rtl"] form[role="dialog"][data-type="confirm"] dl > dd {
  padding-left: 1.5rem;
  padding-right: inherit;
}
html[dir="rtl"] form[role="dialog"][data-type="confirm"] figure img {
  padding-left: 1.5rem;
  padding-right: inherit;
}
#pair-view h2 {
  color:#000;
}
#pair-view #passkey{
  color:#000;
}
progress:not([value]) {
  background: url(../shared/style/progress_activity/images/ui/loading_animate.png) no-repeat center center / 100% auto;
  width: 2.9rem;
  height: 2.9rem;
  border: none;
  display: inline-block;
  vertical-align: middle;
}
progress:not([value]).light {
  background-image: url(../shared/style/progress_activity/images/ui/light.png);
}
progress:not([value])::-moz-progress-bar {
 background: none;
}
progress[value] {
  width: 100%;
  background: #333;
  border: none;
  border-radius: 0;
  height: 0.4rem;
  display: block;
}
progress[value]::-moz-progress-bar {
  background: #01c5ed;
  border-radius: 0;
}
progress[value].pack-activity {
  background-size: 15rem;
  background-image: repeating-linear-gradient( 135deg, #92F4FE, #92F4FE 5rem, #00CDF0 5rem, #00CDF0 10rem );
  animation: move 1.5s steps(15) infinite;
}
p[role="status"] {
  padding: 0.5rem;
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.4em;
  color: #fff;
}
p[role="status"] progress:not([value]) {
  margin-right: 0.5rem;
}
p[role="status"] progress:not([value]) + span {
  margin-bottom: 0;
}
p[role="status"] span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5rem;
}
.bb-steps {
  position: relative;
  height: 0.3rem;
}
.bb-steps:before {
  position: absolute;
  content: "";
  height: 0;
  left: 0;
  top: 0.1rem;
  right: 0;
  border-top: 0.1rem solid #b7b7b7;
  border-bottom: 0.1rem solid #fff;
}
.bb-steps progress[value] {
  position: absolute;
  height: 0.3rem;
  left: 0;
  top: 0;
  background: #858585;
  transition: transform 0.35s cubic-bezier(0, 1, 0.5, 1.1);
}
.bb-steps progress[value]::-moz-progress-bar {
  background: none;
}
@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}
@keyframes move {
  from { background-position: 0 0; }
  to   { background-position: -15rem 0; }
}
section[role="status"] {
  background: rgba(64,64,64,1) url(../shared/style/status/images/ui/pattern.png) repeat left top;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: left;
}
section[role="status"] p {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.2rem;
  margin: 1rem 3rem;
  padding: 0;
  text-align: left;
}
section[role="status"] p strong {
  font-weight: 500;
}
html[dir="rtl"] section[role="status"],
html[dir="rtl"] section[role="status"] p {
  text-align: right;
}
label.pack-checkbox,
label.pack-radio,
label.pack-switch,
label.pack-checkbox-large,
label.pack-radiol-large,
label.pack-switchl-large,
label.pack-radio-large,
label.pack-switch-large {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 6rem;
  position: relative;
  background: none;
}
label.pack-checkbox span,
label.pack-radio span,
label.pack-switch span,
label.pack-checkbox-large span,
label.pack-radio-large span,
label.pack-switch-large span{
  margin-left:-2.0rem;
  -moz-padding-start:2.0rem;
}
label.pack-checkbox input,
label.pack-radio input,
label.pack-switch input ,
label.pack-checkbox-large input,
label.pack-radio-large input,
label.pack-switch-large input{
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  
  left: 0;
  right: 0;
  width: 0;
}
label.pack-checkbox input ~ span:after,
label.pack-radio input ~ span:after {
  content: '';
  position: absolute;
  
  left: 50%;
  right: 50%;
  top: 50%;
  margin: 0;
  margin-top: -1.1rem;
  -moz-margin-start: 26.0rem;
  width: 2.2rem;
  height: 2.2rem;
  pointer-events: none;
  font-size: 2.2rem;
  font-family: "gaia-icons";
}
label.pack-checkbox-large input ~ span:after,
label.pack-radio-large input ~ span:after {
  content: '';
  position: absolute;
  
  left: 50%;
  right: 50%;
  top: 50%;
  margin: 0;
  margin-top: -1.6rem;
  -moz-margin-start: calc(50% - 3.7rem);
  width: 3.2rem;
  height: 3.2rem;
  pointer-events: none;
  font-size: 3.2rem;
  font-family: "gaia-icons";
  line-height: 3.2rem;
}
label.pack-checkbox input ~ span:after,
label.pack-checkbox-large input ~ span:after,
.foccus label.pack-checkbox input ~ span:after,
.foccus label.pack-checkbox-large input ~ span:after {
  content: "check-off";
  color: var(--color-gs45);
}
label.pack-checkbox input:checked ~ span:after,
label.pack-checkbox-large input:checked ~ span:after {
  content: "check-on";
  color: var(--highlight-color);
}
.focus label.pack-checkbox input:checked ~ span:after,
.focus label.pack-checkbox-large input:checked ~ span:after {
  content: "check-on";
  color: var(--color-gs00);
}
label.pack-radio input ~ span:after,
label.pack-radio-large input ~ span:after,
.foccus label.pack-radio input ~ span:after,
.foccus label.pack-radio-large input ~ span:after {
  content: "radio-off";
  color: var(--color-gs45);
}
label.pack-radio input:checked ~ span:after,
label.pack-radio-large input:checked ~ span:after {
  content: "radio-on";
  color: var(--highlight-color);
}
.focus label.pack-radio input:checked ~ span:after,
.focus label.pack-radio-large input:checked ~ span:after {
  content: "radio-on";
  color: var(--color-gs00);
}
label.pack-checkbox input:disabled ~ span:after,
label.pack-radio input:disabled ~ span:after,
label.pack-checkbox-large input:disabled ~ span:after,
label.pack-radio-large input:disabled ~ span:after {
  opacity: 0.4;
}
label.pack-checkbox input:checked ~ span:after,
label.pack-radio input:checked ~ span:after,
label.pack-switch input:checked ~ span:after,
label.pack-checkbox-large input:checked ~ span:after,
label.pack-radio-large input:checked ~ span:after,
label.pack-switch-large input:checked ~ span:after  {
  background-position: center bottom;
}
label.pack-checkbox.danger input ~ span:after {
  background-image: url(../shared/style/switches/images/check/danger.png);
}
label.pack-radio.danger input ~ span:after {
  background-image: url(../shared/style/switches/images/radio/danger.png);
}
label.pack-switch input ~ span:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 6rem;
  margin: -1.4rem 0 0;
  height: 2.7rem;
  pointer-events: none;
  border-radius: 1.35rem;
  overflow: hidden;
  background: #e6e6e6 url(../shared/style/switches/images/switch/background_off.png) no-repeat -3.2rem 0 / 9.2rem 2.7rem;
  transition: background 0.2s ease;
}
label.pack-switch input:checked ~ span:after {
  background: #e6e6e6 url(../shared/style/switches/images/switch/background.png) no-repeat 0 0 / 9.2rem 2.7rem;
}
label.pack-switch input:disabled ~ span:after {
  opacity: 0.4;
}
label.pack-switch input.uninit ~ span:after {
  transition: none;
}
html[dir="rtl"] label.pack-switch input ~ span:after {
  left: 0;
  right: unset;
}
html[dir="rtl"] label.pack-switch input ~ span:after {
  background-position: 0;
}
html[dir="rtl"] label.pack-switch input:checked ~ span:after {
  background-image: url(../shared/style/switches/images/switch/background_rtl.png);
  background-position: -3.2rem 0;
}
#event-view.loading .edit {
  pointer-events: none;
}
#event-view.loading > section {
  display: none;
}
#event-view .p-sec {
  color: var(--color-gs70);
}
#event-view .p-pri {
  color: var(--color-gs90);
}
#event-view .focus {
  background-color: white !important;
}
#event-view > section {
  overflow-y: scroll;
  height: calc(100% - var(--header-height));
}
#event-view .edit[aria-disabled="true"] {
  pointer-events: none;
}
#event-view ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#event-view ul > li {
  padding: 1rem;
  list-style-type: none;
}
#event-view ul > li > span {
  display: block;
  line-height: 1;
}
@media only screen and (orientation: landscape) {
  #event-view ul > li > span {
    line-height: 1.2;
  }
}
#event-view ul * {
  
  -moz-user-select: text;
}
#event-view .content {
  word-wrap: break-word;
  -moz-hyphens: auto;
}
#event-view .duration-time .content > span {
  display: block;
  line-height: 1;
}
#event-view .duration-time .content > span.p-pri,
#event-view .duration-time .content > span.alldayContent,
#event-view .duration-time .content > span:nth-child(3) {
  margin-top: 0.5rem;
}
#event-view .title .content {
  color: var(--color-gs90);
}
#event-view .title .location.content {
  margin-top: 0.5rem;
  color: var(--color-gs70);
}
#event-view .description .content {
  margin-top: 0.5rem;
  color: var(--color-gs90);
}
#event-view .alarms > span:last-child {
  margin-top: 0.5rem;
}
#event-view .alarms.multiple > .content > div {
  display: block;
  -moz-padding-start: 1.4rem;
}
#event-view .current-calendar.indicator {
  border-left: 0.4rem solid var(--highlight-color);
}
#event-view .current-calendar .lines {
  margin-top: 0.5rem;
}
html[dir="rtl"] #event-view .current-calendar .icon-calendar-dot:before {
  left: unset;
  right: -2.2rem;
}
#modify-account-view.preset-google .full-url,
#modify-account-view.preset-yahoo .full-url {
  display: none;
}
#modify-account-view.create .delete-record {
  display: none;
}
:target#remove-account-dialog {
  display: block;
}
#modify-account-view .hide-field {
  display: none;
}
#modify-account-view .during-progress {
  display: none;
  pointer-events: none;
}
#modify-account-view.in-progress .during-progress {
  display: block;
  height: calc(100% - var(--header-height));
  width: 100%;
  background-color: var(--color-gs00);
}
#modify-account-view.in-progress .during-progress > div {
  display: block;
  height: 6rem;
  width: 100%;
  padding: 1rem;
  position: relative;
}
#modify-account-view.in-progress .during-progress > div > span {
  display: block;
  line-height: 4rem;
  height: 4rem;
  position: absolute;
  left: 5.2rem;
  color: var(--color-gs90);
}
#account-syncing-img {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  margin: 0;
  background: url(icons/loading_small.png) no-repeat;
  animation: modify-account-progress 1.8s infinite ease-out;
  float: left;
  position: absolute;
  top: 1.4rem;
}
@keyframes modify-account-progress
{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#modify-account-view.in-progress button,
#modify-account-view.in-progress form {
  display: none;
}
#modify-account-view fieldset {
  margin: 0;
  height: 100%;
}
#modify-account-view form ol {
  height: 100%;
  overflow-y: scroll;
}
#modify-account-view form li {
  width: 100%;
  margin: 0;
  padding: 1rem;
}
#modify-account-view .focus input[type="text"],
#modify-account-view .focus input[type="email"],
#modify-account-view .focus input[type="password"],
#modify-account-view .focus input[type="url"] {
  border: medium none;
  color: var(--color-gs90);
}
#modify-account-view .focus * {
  color: var(--color-gs00);
}
#modify-account-view form ol li > span {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-gs70);
  line-height: 1;
}
#deleteAcc-li {
  height: 6rem;
  position: relative;
  background-color: var(--color-gs00) !important;
}
#delete-account-button {
  border-radius: 0.2rem;
  border: 0.1rem solid var(--color-gs70);
  padding: 0;
  text-align: center;
  width: calc(100% - 2rem);
  margin: 0;
  display: block;
  min-height: 0;
  position: absolute;
  height: 3.5rem;
  line-height: 3.5rem;
  top: 1.25rem;
  background-color: var(--color-red) !important;
}
.focus #delete-account-button {
  outline: 0.3rem solid var(--color-red-pressed);
  border: 0.1rem solid var(--color-gs70);
}
#remove-account-dialog {
  display: none;
}
#remove-account-dialog p {
  font-size: 2.2rem;
}
#modify-account-view.auth-oauth2.create .oauth2-sign-in,
#modify-account-view.auth-oauth2.create .user,
#modify-account-view.auth-oauth2.create .password,
#modify-account-view.auth-oauth2.create .show-password,
#modify-account-view .sync-errors,
#modify-account-view .oauth2-sign-in {
  display: none;
}
#modify-account-view.auth-oauth2.error .sync-errors,
#modify-account-view.auth-oauth2.error .oauth2-sign-in {
  display: block;
}
#modify-account-view .sync-errors p {
  margin: 0;
  height: 3rem;
  background: transparent url(icons/accountwarning.png) no-repeat left top;
  -moz-padding-start: 3.5rem;
  line-height: 3rem;
}
#modify-account-view.auth-oauth2 .save {
  display: none;
}
#modify-account-view .modify-account-form {
  height: calc(100% - var(--header-height));
}
#showPwd-li {
  height: 6rem;
}
#modify-account-view.remove-dialog #modify-account-header,
#modify-account-view.remove-dialog .modify-account-form {
  visibility: hidden;
}
#oauth2 {
  display: none;
  z-index: 1000000;
  background: white;
}
#oauth2.active {
  display: block;
}
#oauth2 header h1 {
  
  direction: ltr;
}
#oauth2 .browser-container {
  width: 100%;
  
  height: calc(100% - 4rem);
}
#oauth2 .browser-container > iframe {
  padding: 0;
  margin: 0;
  border: none;
  height: 100%;
  width: 100%;
}
#modify-event-view.loading button {
  pointer-events: none;
}
#modify-event-view.loading > form {
  display: none;
}
#modify-event-view form {
  overflow-Y: auto;
  height: calc(100% - var(--header-height));
}
#modify-event-view form ol {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}
#modify-event-view .save {
  visibility: hidden;
}
#modify-event-view .button {
  border: none;
  margin: 0;
  padding: 0;
  height: 2rem;
  line-height: 2rem;
  min-height: auto;
  background-color: var(--color-gs00);
}
#modify-event-view .focus * div:not(#note-pad),
#modify-event-view .focus .p-pri,
#modify-event-view .focus .p-sec
{
  color: var(--color-gs00);
}
#modify-event-view .p-pri {
  color: var(--color-gs90);
}
#modify-event-view .p-sec {
  color: var(--color-gs70);
}
#modify-event-view .focus input[type="text"],
#modify-event-view .focus #note-pad {
  border: none;
  color: var(--color-gs90);
}
html[dir="rtl"] #modify-event-view .focus input[type="text"],
html[dir="rtl"] #modify-event-view .focus #note-pad {
    text-align: right;
}
#modify-event-view input[name="currentCalendar"] {
  background: none;
  line-height: 1;
}
#modify-event-view .focus .button {
  background-color: var(--highlight-color);
}
#modify-event-view .button > span {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
}
#modify-event-view form ol li {
  margin: 0;
  padding: 1rem 1rem;
  height: 6rem;
}
#DefaultRingtones span {
  top: 0;
}
#modify-event-view form ol li.title,
#modify-event-view form ol li.location {
  height: auto;
}
#modify-event-view form ol li > span {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-gs70);
}
#modify-event-view form ol li:last-child {
  height: auto;
  overflow-y: auto;
}
#modify-event-view form ol li span {
  line-height: 1;
}
#modify-event-view li.end-date,
#modify-event-view li.start-date,
#modify-event-view li.end-time,
#modify-event-view li.start-time {
  -moz-box-sizing: border-box;
  float: left;
  width: 100%;
  height: 6rem;
}
#modify-event-view li.notes textarea {
  padding: 1rem 1.5rem;
  height: 100%;
  font-size: 1.7rem;
  line-height: 1.3em;
  overflow-y: auto;
}
#modify-event-view li.allday span {
  margin-bottom: 0;
}
#modify-event-view.allday .start-time,
#modify-event-view.allday .end-time {
  display: none;
}
#modify-event-view.update .event-calendar {
  display: none;
}
#modify-event-view.create .current-calendar {
  display: none;
}
#modify-event-view .current-calendar .button {
  padding-top: 0;
  padding-bottom: 0;
}
#modify-event-view .event-calendar,
#modify-event-view .current-calendar {
  clear: both;
}
#modify-event-view .alarms .button {
  margin: 0.25rem 0;
}
#modify-event-view .delete {
  width: calc(100% - 3rem);
  margin: 0 auto;
}
#modify-event-view.readonly menu,
#modify-event-view.readonly .delete-record {
  display: none;
}
#modify-event-view.create .save-text {
  display: block !important; 
}
#modify-event-view.create .done-text {
  display: none !important; 
}
#modify-event-view.update .save-text {
  display: none !important; 
}
#modify-event-view.update .done-text {
  display: block !important; 
}
#modify-event-view .save[aria-disabled="true"] {
  pointer-events: none;
}
#note-pad {
  min-height: 3.6rem;
  color: var(--color-gs90);
  background-color: var(--color-gs00);
  -moz-user-select: text;
  border: 0.1rem solid var(--color-gs45);
  padding: 1rem;
  box-sizing: border-box;
  height: auto;
  word-wrap: break-word;
  border-radius: 0.2rem;
  overflow-y: auto;
  max-height: 16rem;
}
html[dir="rtl"] #modify-event-view li.end-date,
html[dir="rtl"] #modify-event-view li.start-date {
  float: right;
}
html[dir="rtl"] #modify-event-view li.end-time,
html[dir="rtl"] #modify-event-view li.start-time {
  float: right
}
html[dir="rtl"] #modify-event-view li.allday > label > span:after {
  left: 0;
  right: auto;
}
@media only screen and (orientation: landscape) {
  #modify-event-view input[name="currentCalendar"] {
    line-height: initial;
  }
}
.multi-day {
  overflow: hidden;
}
.md__sticky {
  width: 100%;
  height: 6rem;
  position: relative;
  overflow: hidden;
}
.day-view .md__sticky {
  height: 2rem;
}
.md__all-day {
  top: 4rem;
  height: 2rem;
  width: 2.3rem;
  line-height: 2rem;
  color: var(--color-gs70);
  position: absolute;
  background-color: var(--color-gs20);
  text-align: center;
  font-size: 1.7rem;
}
.day-view .md__all-day {
  top: 0;
}
.md__day-name {
  text-align: center;
  width: 100%;
  height: 4rem;
  background-color: var(--color-gs10);
}
.day-view .md__day-name {
  display: none;
}
.week-view .md__day-name.is-today {
  border: 0.2rem solid var(--highlight-color-pressed);
}
.week-view .md__all_space{
  position: absolute;
  background-color: var(--color-gs10);
  width: 2.3rem;
  height: 4rem;
}
.md__allday-events {
  height: 2rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: 2rem;
  border-top: var(--color-gs20) 0.1rem solid;
  border-bottom: var(--color-gs20) 0.1rem solid;
}
.md__main {
  height: calc(100% - 6rem);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.day-view .md__main {
  height: calc(100% - 2rem);
}
.md__main-content {
  position: relative;
  
  background-color: var(--color-gs00);
  z-index: 0;
  height: 120rem;
  width: 100%;
}
.md__sidebar {
  width: 100%;
  color: var(--color-gs90);
  text-align: center;
  background-color: var(--color-gs00);
}
.md__sidebar li:last-child {
  border-bottom: none;
  height: 5rem;
}
.md__sidebar > li {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
}
.md__display-hour {
  display: block;
  width: 2.3rem;
  text-align: center;
  line-height: 1.2;
  position: absolute;
  height: 5rem;
  color: var(--color-gs70);
  padding-top: 3.8rem;
  background-color: var(--color-gs10);
}
.md__display-hour.is-hidden {
  visibility: hidden;
}
.day-view .focusBox_dayHour {
  width: calc(100% - 2.3rem);
  height: 5rem;
  left: 2.3rem;
  display: block;
  position: absolute;
  border-bottom: 0.1rem solid var(--color-gs20);
}
html[dir="rtl"] .day-view .focusBox_dayHour{
  left: 0;
}
.day-view .focusBox_dayHour.focus{
  outline: none;
}
.md__display-hour .ampm {
  display: block;
  font-size: 1.3rem;
  position: absolute;
  width: 2.3rem;
  text-align: center;
  top: 0;
}
.week-view .focusBox__weekDay,
.week-view .focusBox__weekDayChild {
  height: 5rem;
  display: block;
}
html[dir="rtl"] .week-view .focusBox__weekDay {
    left: 0;
}
.week-view .md__sidebar li:first-child .focusBox__weekDay,
.day-view .md__sidebar li:first-child .focusBox_dayHour {
  border-top: 0.1rem solid var(--color-gs20);
}
.md__sidebar li:last-child .focusBox__weekDay,
.md__sidebar li:last-child .focusBox_dayHour {
  border-bottom: none;
}
.week-view .focusBox__weekDay {
  position: absolute;
  left: 2.3rem;
  border-bottom: 0.1rem solid var(--color-gs20);
}
.week-view .focusBox__weekDayChild {
  width: 3.1rem;
  float: left;
}
.week-view .focusBox__weekAllDay,
.week-view .focusBox__weekAllDayChild {
  height: 2rem;
}
.week-view .focusBox__weekAllDay {
  width: 21.7rem;
  height: 2rem;
  position: absolute;
  top: 4rem;
  background-color: var(--color-gs20);
}
.week-view .focusBox__weekAllDayChild {
  width: 3.1rem;
  display: block;
  float: left;
}
.weekheader {
  width: 3.1rem;
  height: 100%;
  position: relative;
  display: block;
  padding: 0.4rem 0;
}
.weekheader > span {
  display: block;
  width: 100%;
  text-align: center;
}
.weekheader > span:first-child {
  color: var(--color-gs70);
  position: absolute;
  top: 0.4rem;
  line-height: 1;
}
.weekheader > span:last-child {
  font-size: 1.6rem;
  line-height: 1;
  color: var(--color-gs90);
  position: absolute;
  top: 2rem;
}
.weekheader > span.is-focused {
  color: var(--color-gs00);
}
.is-curentday {
  color: var(--color-gs00);
  background-color: var(--highlight-color);
}
.is-today .weekheader {
  width: 2.7rem;
}
.is-today .weekheader > span:first-child {
  top: 0.2rem;
}
.is-today .weekheader > span:last-child {
  top: 1.8rem;
}
.md__separator {
  line-height: 1;
  background-color: var(--color-gs00);
}
.md__separator > span {
  line-height: 1;
  width: 2.3rem;
  display: block;
  text-align: center;
  background-color: var(--color-gs10);
  color: var(--color-gs70);
}
.md__days-wrapper,
.md__alldays-wrapper {
  width: calc(100% - 2.3rem);
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}
.md__days-wrapper {
  height: 120rem;
}
.md__alldays-wrapper {
  height: 100%;
  background-color: var(--color-gs20);
}
.day-view .md__days-wrapper,
.day-view .md__alldays-wrapper {
  width: calc(100% - 2.3rem);
}
.md__days,
.md__alldays {
  
  width: 300%;
  overflow: hidden;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.md__day,
.md__allday {
  float: left;
  position: relative;
  height: 100%;
}
.week-view .md__day,
.week-view .md__allday {
  width: 3.1rem;
}
.day-view .md__day,
.day-view .md__allday {
  width: 33.333%;
}
.md__event,
.md__event:focus,
.md__event:active {
  text-decoration: none;
  outline: none;
}
.md__event {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-left-style: solid;
  border-left-width: 0.2rem;
  background-color: #FFE6CF;
  color: var(--color-gs90);
  padding: 0.2rem;
  word-break: break-all;
}
.md__event:active,
.md__event:focus {
  border-left-style: solid;
  border-left-width: 0.4rem;
}
.md__event_focus, #multi-event-list .event.focus,
#event-search-result-view .event.focus {
  border-left-color: #FFE6CF !important;
}
html[dir="rtl"] .md__event_focus, html[dir="rtl"] #multi-event-list .event.focus .container {
  border-right-color: #FFE6CF !important;
}
.md__event_focus,
.md__event_focus .md__event-title,
.md__event_focus .md__event-location {
  color: var(--color-gs00);
  background-color: var(--highlight-color);
}
.day-view .md__event {
  padding: 0.5rem;
  border-left-width: 0.4rem;
}
.md__main .md__event {
  position: absolute;
}
.md__event.is-allday {
  border-left-width: 0.2rem;
  float: left;
  height: 2rem;
  line-height: 2rem;
  display: block;
  padding: 0;
  margin: 0;
}
.day-view .md__event.is-allday:only-of-type {
  
  margin-top: 0;
}
.md__event.is-allday:first-child {
  margin-top: 0;
}
.week-view .md__event.has-overlaps {
  
  padding: 0;
}
.week-view .md__event.has-overlaps .md__event-title {
  visibility: hidden;
}
.md__event-title {
  display: block;
}
.md__event.is-allday .icon-reminder {
  top: 0rem;
}
.md__event .icon-reminder {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  color: var(--highlight-color);
}
html[dir="rtl"] .md__event .icon-reminder{
  right: unset;
  left: 0;
}
.hasFocused .icon-reminder {
  color: var(--color-gs00) !important;
}
.week-view .md__event-location,
.week-view .md__event .icon-reminder {
  display: none;
}
.hasFocused .md__event-title,
.hasFocused .md__event-location{
  color: var(--color-gs00) !important;
}
.md__event-title {
  padding: 0 0.2rem;
  overflow: hidden;
  color: var(--color-gs90);
}
.day-view .has-reminder .md__event-title {
  width: calc(100% - 2.6rem);
  text-overflow: ellipsis;
}
.day-view .is-allday .md__event-title {
  line-height: 2rem;
}
.day-view .md__event-title,
.md__event.is-partial .md__event-title,
.md__event.is-partial .md__event-location {
  white-space: nowrap;
}
.md__event-location {
  display: block;
  position: absolute;
  top: 2.2rem;
  min-height: 2.1rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-gs70);
  margin-top: 0.3rem;
}
.md__event.is-partial .md__event-location {
  top: unset;
  min-height: unset;
  padding-top: unset;
}
.md__event.many-overlaps .md__event-title,
.md__event.many-overlaps .md__event-location,
.md__event.many-overlaps .icon-reminder {
  display: none;
}
.md__event.is-partial {
  padding-top: 0.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.md__event.is-partial-tiny,
.md__event.is-partial-small {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}
.day_view .md__event.is-partial-tiny .md__event-title,
.day_view .md__event.is-partial-tiny .md__event-location,
.day_view .md__event.is-partial-small .md__event-title,
.day_view .md__event.is-partial-small .md__event-location {
  display: inline-block;
  line-height: 1.6rem;
  min-height: 0;
  padding: 0;
}
.md__event.is-partial-tiny .md__event-title + .md__event-location,
.md__event.is-partial-small .md__event-title + .md__event-location {
  margin-left: 0.85rem;
}
html[dir="rtl"] .md__event.is-partial-tiny .md__event-title + .md__event-location,
html[dir="rtl"] .md__event.is-partial-small .md__event-title + .md__event-location {
  margin-right: 0.85rem;
}
.md__event.is-partial-micro .md__event-title,
.md__event.is-partial-micro .md__event-location {
  visibility: hidden;
}
.md__event.is-partial-micro .icon-calendar-alarm,
.md__event.is-partial-tiny .icon-calendar-alarm {
  
  display: none;
}
.day-view .md__event.has-alarms {
  
  -moz-padding-end: 2.6rem;
}
.day-view .icon-calendar-allday:before {
  position: relative;
}
.day-view .md__event.is-partial-tiny,
.day-view .md__event.is-partial-micro {
  
  -moz-padding-end: 0.3rem;
}
.md__event.is-partial-small .icon-calendar-alarm {
  
  top: 50%;
  transform: translateY(-56%);
}
.md__current-time {
  pointer-events: none;
  display: none;
  position: absolute;
  width: 100%;
  color: var(--highlight-color-pressed);
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-top: -0.6rem;
}
.md__current-time.active {
  display: block;
}
.md__current-time:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.6rem;
  height: 0.1rem;
  width: calc(100% - 2.3rem);
  left: 2.3rem;
  
  border-top: 0.1rem solid var(--highlight-color-pressed);
}
.week-view .md__current-time {
  text-indent: 0.2rem;
}
.week-view .md__current-time:before {
  left: 3rem;
}
.day-view .md__current-time {
  text-indent: 0.8rem;
}
.md__add-event {
  position: absolute;
  display: block;
  width: 100%;
  height: 5rem;
  background-color: #00caf2;
  transition-property: opacity;
  transition-duration: 100ms;
  
  top: 0;
}
.md__allday-events .md__add-event {
  
  height: 100%;
}
.md__add-event:active,
.md__add-event:focus {
  background-color: #b2f2ff;
  outline: none;
}
.md__add-event:before {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-indent: 0;
}
html[dir="rtl"] .day-view .md__all-day {
  left: unset;
  right: 0;
}
html[dir="rtl"] .md__allday-events {
  border-left: unset;
  border-right: 0.1rem solid #e2e2e2;
}
html[dir="rtl"] .md__days-wrapper,
html[dir="rtl"] .md__alldays-wrapper {
  left: 0;
  right: unset;
}
html[dir="rtl"] .md__day,
html[dir="rtl"] .md__allday {
  float: right;
}
html[dir="rtl"] .md__day {
  border-left: unset;
}
html[dir="rtl"] .md__event {
  border-left-style: unset;
  border-left-width: unset;
  border-right-style: solid;
  border-right-width: 0.4rem;
}
html[dir="rtl"] .md__event:active,
html[dir="rtl"] .md__event:focus {
  border-left-style: unset;
  border-left-width: unset;
  border-right-style: solid;
  border-right-width: 0.4rem;
}
html[dir="rtl"] .md__event .icon-calendar-alarm {
  left: 0;
  right: unset;
}
html[dir="rtl"] .md__current-time:before {
  transform: scale(-0.99) translateY(-0.25rem);
}
html[dir="rtl"] .week-view .md__current-time:before,
html[dir="rtl"] .week-view .md__current-time:after {
  left: unset;
  right: 2.6rem;
}
html[dir="rtl"] .day-view .md__current-time:before,
html[dir="rtl"] .day-view .md__current-time:after {
  left: unset;
  right: 7rem;
}
html[dir="rtl"] .md__add-event:before {
  left: unset;
  right: 50%;
  transform: translate(50%, -50%);
}
@media only screen and (orientation: landscape) {
  .md__main {
    height: calc(100% - 7.3rem);
  }
  .day-view .md__main {
    height: calc(100% - 3.3rem);
  }
  div.md__day[aria-hidden=false] .md__event_focus .icon-reminder {
    color: var(--color-gs00) !important;
  }
  .week-view .focusBox__weekDayChild,
  .week-view .focusBox__weekAllDayChild,
  .week-view .md__allday ,
  .week-view .md__day,
  .is-today .weekheader {
    width: 4.2rem;
  }
  .is-today .weekheader, .weekheader{
    width: auto;
  }
  .week-view .focusBox__weekAllDay {
    width: auto;
  }
}
#create-account-view,
#advanced-settings-view,
#modify-account-view {
  z-index: -1;
  visibility: hidden;
}
body[data-path="/select-preset/"] #create-account-view,
body[data-path="/advanced-settings/"] #advanced-settings-view,
body[data-path^="/create-account/"] #modify-account-view,
body[data-path^="/update-account/"] #modify-account-view {
  z-index: 20;
  visibility: visible;
}
.yahoo .p-pri {
  direction: ltr;
}
#settings .settings-drawer-container {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
}
#settings .focus * {
  color: var(--color-gs00);
}
#settings .settings-drawer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-gs00);
}
#settings ol.calendars {
  height: 100%;
  overflow-y: scroll;
}
#settings .calendars .error label {
  background: transparent url(icons/accountwarning.png) no-repeat 2.3rem center / 2rem auto;
  -moz-padding-start: 4.5rem;
}
#settings .calendars li {
  position: relative;
  width: 100%;
  height: 6rem;
  margin: 0;
  padding: 1rem;
}
#settings > menu {
  position: absolute;
  bottom: 0;
  height: 4rem;
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#settings [role="toolbar"] {
  position: absolute;
  bottom: 0;
}
#settings [role="toolbar"] .toolbar-item {
  border-left: 0.1rem solid #e5e5e5;
}
#settings [role="toolbar"] .toolbar-item:first-child {
  border-left: 0;
}
#settings [role="toolbar"].noaccount .settings {
  width: 100%;
}
#settings [role="toolbar"] .settings:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: url(icons/settings_icon.png) no-repeat 50% 50% / 3rem auto;
}
#settings [role="toolbar"] .settings:active:after {
  background-image: url(icons/settings_icon_press.png);
}
#settings [role="toolbar"] .sync:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
}
#settings [role="toolbar"] .sync .icon {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  background: url(icons/refresh.png) no-repeat 50% 50% / 3rem auto;
}
#settings [role="toolbar"] .sync:active .icon {
  background-image: url(icons/refresh_press.png);
}
.pending-operation #settings [role="toolbar"] .sync .icon {
  animation: 0.9s msg-refresh-rotate infinite steps(30);
}
@keyframes msg-refresh-rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}
.sync-progress {
  visibility: hidden;
}
.sync-progress.syncing {
  visibility: visible;
}
#settings [role="toolbar"].noaccount .sync {
  display: none;
}
html[dir="rtl"] #settings .calendars label > .name {
  text-align: right;
}
html[dir="rtl"] #settings .calendars label > span {
  float: right;
  text-align: start;
}
html[dir="rtl"] #settings [role="toolbar"] .toolbar-item {
  border-left: unset;
}
html[dir="rtl"] #settings [role="toolbar"] .toolbar-item:first-child {
  border-left: unset;
  border-right: 0.1rem solid #e5e5e5;
}
html[dir="rtl"] #settings .calendars input[type="checkbox"] + span:after {
  left: 1.3rem;
  right: auto;
}
html[dir="rtl"] #settings .calendars .icon-calendar-dot:before {
  right: 0;
}
@media only screen and (orientation: landscape) {
  #settings .settings-drawer-container {
    height: calc(100% - var(--header-height));
  }
}