<element name="mediaStorage" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="mediaStorage-header"></h1>
    </gaia-header>

    <div id="volume-list">
      </div>

    <panel data-path = "panels/media_storage/panel"></panel>

  </template>
</element>
